.headerpart1
{
    width:100%;
    height:auto;
    display: flex;
    background-color: rgb(135, 47, 49);
    flex-direction: row;
    flex-wrap: wrap;
}
#h1{
    margin-top: 5px;
    margin-left: 50px;
}
#h1h6
{
    margin-top: -25px;
    margin-left: 10px;
}
#p1
{
    font-size: 10px;
}
.usericon
{
    height: 25px;
    margin-left: 200px;
    margin-top: 10px;

}
.headerpart1>div
{
flex-basis: 30%;
}
input[type=search]
{
    width: 400px;
    height: 30px;
    background-image: url(../icons/loupe.png);
    background-repeat: no-repeat;
    background-position: right;
    padding-left: 10px;
    margin-top: 15px;
    border:2px solid rgb(181, 39, 39);
}
.h1select
{
    background-color: rgb(135, 47, 49);
    background-image: url(../icons/user.png);
    background-repeat: no-repeat;
    background-position: left;
    margin-left: 200px;
    width:120px;
    padding-left: 25px;
    margin-top: 20px;
    border:none;
    outline: none;
    height: 23px;
}
#h1img{
    margin-left: -52px;
    margin-top: 18px;
    height: 22px;
    
}
/*-------------headerpart2-----------------*/
.headerpart2
{
    width:100%;
    height:auto;
    display: flex;
    background-color: rgb(181, 39, 39);
    flex-direction: row;
    flex-wrap: wrap;
}
.h2select{
    border:none;
    outline: none;
    background-color:rgb(181, 39, 39);
    margin-top: 15px;
    margin-left: 60px;
    font-size: medium;
    color: white;

}.h2links
{
    margin-top: 15px;
    justify-content: center;
    margin-left: 30px;
    color: white;
    
}
a{
    text-decoration: none;
    color: white;
    font-size: medium;
}
.h2image
{
    margin-left: 150px;
    height: 40px;
    margin-top: 10px;
}
#h2img2
{
    height:50px;
    width: 100px;
    margin-top: -25px;
    margin-bottom: -20px;
   
}

/*............main part.................*/
.mainpart1{
    width:100%;
    height:auto;
    display: flex;
    background-color: white;
    flex-direction: row;
    flex-wrap: wrap;
}
.mainpart1>div{
    flex-basis: 50%;
}
#m1h6
{
    margin-top: -25px;
    margin-left: 80px;
}
#m1h1
{
    margin-left: 120px;
}
#m1h4
{
    border-top: 8px solid rgb(181, 39, 39);
    width: 100px;
    border-radius: 30px;
    margin-top: -10px;
}

/*...........main part2......................*/
#m2img
{
    height:600px;
    width:500px;
    margin-left: 50px;
}
.mainpart2
{
    width:100%;
    height:auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
input[type=file]
{
    margin-left: 80px;
}

.usertype
{
    width:400px;height:40px;border:2px solid rgb(181, 39, 39);
    background-image: url(../icons/category.png);
    position:left;
    background-repeat: no-repeat;
    padding-left: 50px;
    margin-left: 80px;
    margin-top: 20px;
}
input[type=text]
{
    width:400px;height:40px;border:2px solid rgb(181, 39, 39);
    margin-top: 5px;
}
#id1{
    background-image: url(../icons/title.png);
    background-repeat: no-repeat;
    padding-left: 55px;
    font-size: 15px;
    margin-left: 80px;
    margin-top: 5px;
}
#id2{
    background-image: url(../icons/identity.png);
    background-repeat: no-repeat;
    padding-left: 55px;
    font-size: 15px;
    margin-left: 80px;
    margin-top: 5px;
}
#id3{
    background-image: url(../icons/bar-code.png);
    background-repeat: no-repeat;
    padding-left: 55px;
    font-size: 15px;
    margin-left: 80px;
    margin-top: 5px;

}
#id4{
    background-image: url(../icons/sticker.png);
    background-repeat: no-repeat;
    padding-left: 55px;
    font-size: 15px;
    margin-left: 80px;
    margin-top: 5px;
}
#id5{
    background-image: url(../icons/purchasing.png);
    background-repeat: no-repeat;
    padding-left: 55px;
    font-size: 15px;
    margin-left: 80px;
    margin-top: 5px;
}
#id6{
    background-image: url(../icons/decentralized.png);
    background-repeat: no-repeat;
    padding-left: 55px;
    font-size: 15px;
    margin-left: 80px;
    margin-top: 5px;

}
.usertype2
{
    width:400px;height:40px;border:2px solid rgb(181, 39, 39);
    background-image: url(../icons/binding.png);
    position:left;
    background-repeat: no-repeat;
    padding-left: 50px;
    margin-left: 80px;
    margin-top: 15px;
}
#id7{
    background-image: url(../icons/user-avatar.png);
    background-repeat: no-repeat;
    padding-left: 55px;
    font-size: 15px;
    margin-left: 80px;
    margin-top: 5px;
}
#id8{
    background-image: url(../icons/user-avatar.png);
    background-repeat: no-repeat;
    padding-left: 55px;
    font-size: 15px;
    margin-left: 80px;
    margin-top: 5px;
}

input[type=submit]
{
    width:100px;height:40px;margin-top:30px;
    color:white;
    margin-left: 350px;
    background-color: rgb(181, 39, 39);
}







/*...................footer part........................*/
.footer1
{
    width:100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgb(181, 39, 39);
    color: white;
}
.footer1>div{
    flex-basis: 20%;
}
#f1h1
{
    margin-left: 60px;
    margin-top: 50px;
}
#f1p1
{
    margin-left: 25px;
}
.f1div2>a
{
font-size: small;
}
.f1div3>a
{
font-size: small;
}
.f1div4>a
{
font-size: small;
}

.footer2
{
    width:100%;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: rgb(135, 47, 49);
    color: white;
    justify-content: center;

}

